@import url("section/hero.css");
@import url("section/services.css");

/* @import url("section/media.css"); */

@import url("section/about.css");
@import url("section/app.css");
@import url("section/review.css");
@import url("section/blog.css");
@import url("section/footer.css");
@import url("section/nav.css");
@import url("section/media.css");
*,
*::before,
*::after {
    padding: 0%;
    margin: 0%;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Mulish';
    font-style: normal;
    /* text-decoration: none; */
    list-style: none;
    max-width: 128rem;
    margin: 0 auto;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    padding: 3rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-icon {
    pointer-events: none;
    --ionicon-stroke-width: 4rem;
    font-size: 3rem;
}

button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    ;
}


/* utilities */

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.heading-secondary {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 5.6rem;
    /* identical to box height, or 156% */
    color: #000000;
    mix-blend-mode: normal;
    /* text-align: center; */
    position: relative;
}

.hr {
    /* content: ""; */
    width: 5.6rem;
    height: 2px;
    background-color: #000000;
    /* transform: translateX(-50%); */
}

.paragraph {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3.2rem;
    /* or 152% */
    color: #7D7987;
    mix-blend-mode: normal;
}

.heading-tertiary {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.6rem;
    /* identical to box height, or 233% */
    color: #000000;
}

.to-center {
    text-align: center;
}

.flex-column-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.flex-column-content .secondary__btn {
    align-self: flex-start;
}

.secondary__btn,
.secondary__btn:active,
.secondary__btn:link {
    color: #458FF6;
    text-decoration: none;
    background-color: transparent;
    padding: 1rem 5rem;
    border: 2px solid #458FF6;
    border-radius: 55px;
    margin-top: 3rem;
    display: inline-block;
    font-size: 1.6rem;
    transition: all .2s;
}

.secondary__btn:hover {
    background-color: #458FF6;
    color: #FFFFFF;
    transform: scale(1.05);
}


/* mobile menu 
 */


/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

.section-about__right,
.section-about__left,
.section-app__right,
.section-app__left,
.section-hero__left,
.section-hero__right {
    flex: 1;
}