.section-blog {
    padding: 6rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.section-blog__cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.section-blog__card {
    background: #FFFFFF;
    /* drop shadow */
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-blog__card img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.blog-data {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
}

.blog-data a,
.blog-data a:link,
.blog-data:active {
    text-decoration: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    /* identical to box height, or 165% */
    color: #4089ED;
    mix-blend-mode: normal;
}